@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

html{
    font-family: 'Press Start 2P', cursive;
    font-size: 16;
}
h2,h3{
    font-family: 'Roboto', sans-serif;
font-size: 18;
}
body{
    background-color: lavender;
}
.container{
    background-color:whitesmoke
}
img{
    height: auto;
    width: auto;
    max-width:450px;
    max-height:450px;

}
 .container{
    border-style: solid;
    border-width: 12px;
    border-radius: 5px;
    border-color: rgb(197, 153, 184);
    color: black;
    border-radius: 20%; 
 }
a{
 text-decoration: none;
 padding:50px;
 color:black;   

}
.project-project{
    border-style: solid;
    text-align: left;
    border-width: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border-color: rgb(197, 153, 184);
    background-color:whitesmoke
 } 
.section{
Padding:5px
   
}
.projects-project{
    
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 10px;
  }
.contact{
    justify-content:center;
    text-align: center;
    border-style: solid;
    border-color: rgb(148, 15, 115);
    border-width: 12px;
    border-radius: 50%;
    color: rgb(46, 33, 37);
    background-color:rgb(148, 109, 143)
    }

